canvas {
    width: 100vmin;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: black;
}

@font-face {
  font-family: 'Pixel';
  src: url('rainyhearts.ttf');
}

* {
  font-smooth: never;
  -webkit-font-smoothing : none;
}